# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archives / Binary / large files
*.zip
*.tar
*.tar.gz
*.bin

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Pulumi
*.yaml
__pycache__/
*.pyc

# Node / JS
node_modules/
dist/

# Logs
*.log

# OS / Editor
.DS_Store
*.swp
.vscode/
.idea/
